export LABEL_STUDIO_URL=http://localhost:8080
export LABEL_STUDIO_LOCAL_FILES_SERVING_ENABLED=true
export LABEL_STUDIO_LOCAL_FILES_DOCUMENT_ROOT=$(pwd)/data/raw/label-studio
export LABEL_STUDIO_API_KEY=f54653f7e1bfcfba0cb02dd418d6b011738ae6de
export USER_UID=$(id -u)
export USER_GID=$(id -g)
